*{
    font-family: hell;
    margin:0;
    padding:0;
    box-sizing: border-box; 
}

html, body{
    height:100%;
    width:100%;
}

@font-face {
    font-family: hell ;
    src: url(./HelveticaNowDisplay-Regular.ttf);
}

#main{
    height: 100%;
    width: 100%;
   
}

#nav a{
    color:black;
    text-decoration: none;
    margin-right: 5px;
}

#nav{
    padding: 10px 30px;
}

#main>h1{
    
    font-size:300px;
    font-weight: 400;
    padding-left: 30px;
}

#btmleft{
    width: 300px;
    position:absolute;
    left: 3%;
    bottom: 25%;
    
}

#btmleft h3{
    font-size:20px;
}

#btmleft p{
    font-size:12px;
    margin-top: 10px;
}

#btmleft h4{
    font-size:20px;
 margin-top:30px;   
}

#btmbar{
    display: flex;
    justify-content: space-between;
     position:absolute;
     padding:40px 40px;
    bottom:0;
    left:0;
    width: 100%;
    /* background-color: red; */
}

#btmbar h1{
    font-size: 23px;
}

#btmbar a{
    color:black;
   text-decoration: none;

}

#main>img{
    position: absolute;
    padding-left:100px;
    height: 200px;
    width: auto;
}

#first{
    top:50%;
    left:27%;
}


#main #third{
    height: 230px;
    top:63%;
    left:34%;
}

/* kalu */
#main #second{ 
    height: 250px;
    top:38%;
    left:43%;
}