*{
    margin:0;
    padding:0;
}

html,body{
    height:100%;
    width:100%;
    box-sizing: border-box;
}

@font-face {
    font-family:apple;
    src: url(./sf-pro-text_regular.woff2);
}

@font-face {
    font-family:appleBold;
    src: url(./sf-pro-display_bold.woff2);
}

#main{
    padding-top: 53px;
    background-color: black;
    height: 75%;
    width: 100%;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_mediumtall_2x.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 13px;
}


#nav{
    height: 42px;
    width: 100%;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: apple;
    gap: 35px;
}

#nav h4{
    color:#cccccc;
    font-size: 11px;
    font-weight: 200;
}

#nav i{
    font-size: 15px;
}

.name{
    font-family: apple;
    color: white;
   text-align: center;
}

.name h1{
    font-size: 50px;
}

.name h3{
    margin-top: 10px;
    font-size: 28px;
    font-weight: 300;
}

.links{
    margin-top: 15px;
    text-align: center;
}

.links>button{
    background-color: #0071e3;
    color: white;
    border-radius: 50px;
    height: 43px;
    width:130px;
    border:none;
    font-size: 17px;
    font-weight:500;
    
}

.links #buy{
    color: #0071e3;
    border: 1px solid royalblue;
    background-color: black;
    width: 70px;
    margin-left: 20px;
}

/* iPhone Air Section */

#air{
    background-color: black;
    height: 75%;
    width: 100%;
    padding-top: 53px;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-air/hero_iphone_air__0gxyavihpiqu_largetall_2x.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 13px;
}

#air .name{
    font-family: apple;
    color: #202022;
   text-align: center;
}

#air .name h1{
    
    font-size: 50px;
}

#air .name h3{
    margin-top: 2px;
    font-size: 26px;
    font-weight: 300;
}

#air .links #buy{
    color: #0071e3;
    border: 1px solid royalblue;
    background-color: #f5f5f7;
    width: 70px;
    margin-left: 20px;
}


/* iphone 17 */

.seventeen{
    background-color: black;
    height: 75%;
    width: 100%;
    padding-top: 53px;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17/hero_iphone_17__c5vvimu9a20y_largetall_2x.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 13px;
}

.seventeen .name{
    font-family: apple;
    color: #202022;
   text-align: center;
}

.seventeen .name h1{
    
    font-size: 50px;
}

.seventeen .name h3{
    margin-top: 2px;
    font-size: 26px;
    font-weight: 300;
}

.seventeen .links #buy{
    color: #0071e3;
    border: 1px solid royalblue;
    background-color: #f5f5f7;
    width: 70px;
    margin-left: 20px;
}

/* Others */

.others{
    display:flex;
    justify-content: space-evenly;
}

.watch{
    height: 80vh;
    width: 49%;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/apple-watch-series-11/promo_apple_watch_series_11__b63hxviqvonm_large_2x.jpg);
    background-size: cover;
    background-position: center;
    background-color: #202022;
}

.airpods{
    height: 80vh;
    width: 49%;
    background-color: #202022;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/airpods-pro-3/promo_airpodspro_3__f6xmza7bglei_large_2x.jpg);
    background-size: cover;
    background-position: center;
}

/* Headings fonts */
.essentials{
    font-family: apple;
    color: Black;
    text-align: center;
    margin-top: 53px;;

}

.essentials h1{
    font-size: 37px;
    font-weight: 700;
    margin-bottom: 10px;
}

.essentials .series{
    font-weight: 300;
    color: #000000d2;
}

.essentials .firstWord{
    font-family: appleBold;
    font-weight: 700;
}

.essentials h3{
    font-size: 20px;
    font-weight: 500;
}

/* .essentials h1::before{
    content: "SERIES";
    font-weight: 500;
} */

.essentials .links>button{
    background-color: #0071e3;
    color: white;
    border-radius: 50px;
    height: 35px;
    width:100px;
    border:none;
    font-size: 13px;
    font-weight:500;
}

.essentials #buy{
    background-color: transparent;
}