* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body,
html {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: poppins;
    src: url(./Assets/Poppins-Regular.ttf);
}

// section{
//     margin: 0 1rem ;
// }

main {
    width: 100%;
    height: 100%;

    .img {
        height: 100vh;
        width: 100%;
        background-image: url(./Assets/2k\ girl.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        // transform: translateY(-2%);
        background-color: antiquewhite;
        // position: absolute;
    }

    section.view1 {
        width: 100%;
        height: 100%;
        color: white;
        position: relative;

        nav {
            display: none;
            // position: absolute;
            // top:0;
        }



        .content {
            background-color: #00000078;
            box-shadow: 0 0 40px 40px #00000078;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            margin-left: 1rem;

            h1 {
                font-size: 3rem;
                color: white;
                text-shadow: 4px 5px 5px #000000;
            }

            h4 {
                color: #6e92a2;
                letter-spacing: 2px;
                font-weight: 300;
            }
        }


    }

    section.view2 {
        color: white;
        height: 100%;
        background-color: #070e14;

        .content {
            width: 100%;
            height: 100%;

            .info {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                align-items: center;
                padding: 0 2rem;
                position: absolute;
                top: 125%;

                .head {
                    h2 {
                        font-weight: 300;
                    }

                    h4 {
                        font-size: 0.9rem;
                        font-weight: 300;
                        color: rgba(255, 255, 255, 0.493);
                        text-align: center;
                    }
                }

                .line {
                    border-top: 1px solid rgba(139, 139, 139, 0.982);
                    width: 50px;
                    // margin-left: 50%;
                    margin-left: 20%;
                    transform: translateX(-50%);
                }

                .para {
                    padding-top: 1.5rem;

                    p {
                        font-size: 0.75rem;
                    }
                }
            }


        }

    }
}

@media(min-width:1024px) {
    main {

        // position: relative;
        .img {
            position: absolute;
            height: 200vh;
            background-size: cover;
        }

        section.view1 {
            height: 100vh;

            .content {
                background-color: #00000078;
                box-shadow: 0 0 40px 40px #00000078;
                top: 50%;
                left: 5%;

                h1{
                    font-size: 4rem;
                }

                h4{
                    color :#6e92a2;
                
                    font-size: 1.5rem;
                }
            }

            .line{
                width: 50px;
                margin-top: 0.5rem;
                margin-left:0.2rem;
                border-top: 2px solid white;
                // position: absolute;
            }

            nav {
                padding: 0rem 2rem;
                display: block;
                display: flex;
                justify-content: space-between;

                .logo {
                    position: absolute;

                    h1 {
                        text-shadow: 0 0 9px #fff;
                        color: black;
                        font-size: 3.7rem;
                        margin: 0;
                        padding: 0;
                    }
                }

                .navItems {
                    position: absolute;
                    display: flex;
                    gap: 3rem;
                    right: 3%;
                    top: 4%;

                    p {
                        font-size: 0.85rem;
                        letter-spacing: 2px;
                    }

                    .subscribe {
                        border: 1px solid white;
                    }

                    .about,
                    .article,
                    .subscribe {
                        padding: 0.4rem 1rem;
                    }
                }
            }

        }

        section.view2 {
            position: relative;
            background-color: transparent;
            height: 100vh;
            color: white;

            .content {
                .info {
                    position: absolute;
                    top: 20%;

                    .head{

                        h2{
                            font-size:2rem;
                            letter-spacing: 1px;
                        }

                        h4{
                            letter-spacing: 2px;
                        }

                    }
                    .line{
                        margin-left:3%; 
                        margin-bottom: 2rem;  
                    }

                    .para{
                        width:50%;
                        background-color: #00000078;
                        box-shadow: 0 0 40px 40px #00000078;
                        p{
                            font-size: 0.95rem;
                            text-align: center;
                            line-height: 1.8;
                        }
                    }
                }


            }
        }
    }
}