*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    width: 100%;
}



main{
    width:100%;
    section.view1{
        color:white;
        position: relative;

        nav{
            position: absolute;
        }

        .img{
            height:100vh;
            width: 100%;
            background-image: url(./Assets/2k\ girl.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            // transform: translateY(-2%);
            background-color: antiquewhite;
            position: absolute;
        }

        .content{
            position: absolute;
        }
    }
}

@media(min-width:1024px) {
    main{
        section.view1{
            height:200vh;
            .img{
                height:100%;
            }
        }
    }
}