.page3 {
    width: 100%;
    padding-inline: 1rem;
    padding-block: 3rem;

    .content {

        .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding-right: 2rem;
            margin-bottom: 2rem;

            h3 {
                color: rgb(39, 39, 39);
                font-size: 2.5rem;
                font-weight: 400;
            }

            p {
                color: rgb(95, 95, 95);
                width: 30%;
            }
        }

        .cards {
            display: flex;
            gap: 5.5rem;

            .block {
                width: 50%;
                display: flex;
                flex-direction: column;

                gap: 2rem;

                .card {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    // background-color: aqua;

                    .text {

                        h3 {
                            font-weight: 400;
                            font-size: 2rem;
                            color: rgb(207, 35, 207);
                        }

                        p{
                            width: 70%;
                            color: gray;
                        }
                    }

                    .img {

                        width: 100%;
                        border-radius: 20px;
                        overflow: hidden;

                        position: relative;

                        img {
                            width: 100%;
                            height: 100%;

                            object-fit: cover;

                            transition: all 0.3s ease-in-out;
                        }

                        .arrow,
                        .animation {
                            position: absolute;
                            transition: all 0.3s ease-in-out;
                        }

                        .arrow{
                            height: 80px;
                            aspect-ratio: 1/1;
                            background-color: white;
                            border-radius: 50%;

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            top: 3%;
                            right: 2%;

                            i{
                                font-size: 2rem;
                            }
                        }

                        .animation{
                            background-color: white;
                            padding: 0.3rem 0.9rem;
                            border-radius: 20px;

                            bottom:4%;
                            left: 3%;

                            p{
                                font-size: 0.9rem;
                            }
                        }
                    }

                    .img:hover{

                        img{
                            transform: scale(1.05);
                        }
                        .arrow{
                            transform: rotate(45deg);
                        }

                        .animation{
                            transform: scale(1.05);
                        }
                    }

                }
            }

            .two{
                padding-top: 5.5rem;
            }
        }
    }

}