@keyframes rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

.footer {
    height: 500px;
    width: 100%;
    border-bottom: 1px solid rgba(113, 113, 113, 0.671);
    border-top: 1px solid rgba(113, 113, 113, 0.671);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .upper{
        height: 100%;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        position: relative;

        .getStarted, .stars{
            position: absolute;
        }

        .getStarted{
            width: 7%;
            bottom: 28%;
            right: 25%;
            animation: rotate 6s infinite linear;

            img{
                width: 100%;
            }
        }
        
        .stars{
            width: 5%;

            top: 20%;
            left: 20%;
            img{
                width: 100%;
            }
        }
        
        h2 {
            width: 45vw;
            font-size: 2.3rem;
            font-weight: 400;
            position: relative;

            #identity{
                color:white;
                display: inline-block;
                font-weight: 300;
                position: relative;

                .yellow {

                width: 102%;
                height: 120%;
                background-color: rgb(255, 217, 0);
                border-radius: 20px;
                transform: rotate(3deg);

                position: absolute;
                top: 0;
                // bottom: 29%;
                // left: 20%;
                z-index: -1;
            }
            }

            
        }

        #title {
            color: rgb(204, 33, 220);
        }

        #desc {
            color: rgba(103, 103, 103, 0.76);
            width: 40%;
        }
    }

    .dipper {
        color: rgba(73, 73, 73, 0.766);
        display: flex;
        justify-content: space-between;
        border-top: 1px solid rgba(79, 79, 79, 0.588);
        padding-block: 1.5rem;

        .logo{
            font-size: 1.1rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            transform: translateX(100%);
        }

        #name {
            font-size: 1.1rem;
        }

        .right {
            font-size: 0.95rem;
            display: flex;
            gap: 1rem;
        }
    }
}