* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .bck {
        height: 100%;
        width: 100%;
        background-image: url(./mountain\ final.png);
        background-size: cover;
        position: absolute;
        filter: blur(3px);
    }



    .prev {
        height: 80%;
        width: 80%;
        position: relative;
        background-image: url(./mountain\ final.png);
        background-size: cover;
        background-position: center;
        border: 3px solid rgb(255, 255, 255);
        border-radius: 20px;
        overflow: hidden;

        .glass {
            height: 100%;
            width: 45%;
            background-color: rgba(42, 48, 93, 0.096);
            background: linear-gradient(to bottom, transparent, #122430);
            backdrop-filter: blur(7px);
            position: relative;

            .content {
                width: 80%;
                color: white;
                display: flex;
                flex-direction: column;
                gap: 0.6rem;
                position: absolute;
                bottom: 4%;
                left: 14%;

                h4 {
                    font-size: 0.96rem;
                    font-weight: 300;
                }

                p {
                    font-size: 0.9rem;
                    font-weight: 300;
                }

                button {
                    width: 35%;
                    color: black;
                    background-color: #919090;
                    border: none;
                    font-weight: 500;
                    padding: 0.7rem 0 0.7rem 0;
                    border-radius: 5px;
                }
            }
        }

        h1 {
            height: 100%;
            width: 100%;
            color: transparent;
            font-weight: 600;
            font-size: 11.6rem;
            position: absolute;
            top: 0;
            left: 0;
            background: url(./mountain\ final.png);
            background-size: cover;
            background-position: center;
            background-clip: text;
            display: flex;

            // align-items: center;
            span {
                padding-left: 19.7rem;
                padding-top: 4rem;
                //    transform: translate(3%,-3%);
            }
        }

        .land {
            height: 400px;
            width: 400px;
            color: white;
            font-weight: 600;
            position: absolute;
            font-size: 11.6rem;
            top: 40%;
            left: 44.5%;
        }


        nav {
            width: 100%;
            padding: 2rem 5rem;
            font-size: 0.78rem;
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 0;

            .left {
                display: flex;
                gap: 1rem;

                .head {
                    padding-top: 2px;

                    h3 {
                        font-weight: 500;
                        font-size: 0.88rem;
                    }
                }

                .symbols {
                    display: flex;
                    gap: 0.3rem;

                    .sym {
                        width: 25px;
                        aspect-ratio: 1/1;
                        border: 1px solid black;
                        border-radius: 3px;
                        padding-top: 2px;
                        padding-left: 5px;

                    }
                }
            }

            
            .right {
                display: flex;
                gap: 3rem;
                font-weight: 500;
            }
            
        }

        
        .pagePoint {
            position: absolute;
            top:40%;
            right: 5%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            

            div {
                height: 20px;
                width: 20px;
                rotate: 45deg;
                // background-color: antiquewhite;
                border: 2px solid white;
            }

            div:nth-child(3), div:nth-child(4){
                background-color: white;
            }
            
            div:nth-child(1), div:nth-child(5){
                width:1px;
                border-left: none;
                border-top: none;
                border-bottom: none;
                height:30px;
                rotate:0deg;
                margin-left: 10px;
            }
        }

        .pageSlide{
            display: flex;
            gap:2rem;
            position:absolute;
            bottom:9%;
            right:9%;

            .arrow{
                height: 35px;
                width: 35px;
                flex-shrink: 0;
                border: 1px solid white;
                border-radius: 5px;
                padding: 0.3rem 0 0 0.3rem;
                i{
                    color: white;
                    font-size: 1.4rem;
                }
            }

            .arrow:nth-child(1){
                background-color: #919090b1;
                border: none;
            }
            
            .arrow:nth-child(2){
                background-color: #ffffff95;
                border: none;
            }
        }
    }


}