* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

#root {
    width: 100%;
    // height: 100%;
    padding-inline: 5rem;
    padding-bottom: 1rem;
}

body::-webkit-scrollbar {
    width: 7px;
    padding: 0.2rem;
}

body::-webkit-scrollbar-thumb {

    background-color: rgb(143, 0, 220);
    border-radius: 20px;
}
