
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

.main{
    height: 100vh;
    width: 100%;
    background-color: white;
}

.padTest{
    height: 600px;
    width: auto;
    background-color: darkred;
}


.nav{
    height:100px ;
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
    justify-content: space-between;
    align-items: center;
}

.navOps{
    display: flex;
    justify-content: center;
    padding-left: 90px;
    font-size: 15px;
    gap:26px;
}

.navLogo{
    height: 70px;
    width: 70px;
    background-size: cover;
    background-image: url(https://uploads-ssl.webflow.com/5ea7ecd0debb84369437c163/6435e382c69a8d0b2d57d425_navis-capital-partners-no-background.png);
}

.nav button:nth-child(1){
    background-color: transparent;
    color: blue;
    padding:10px 20px;
    border-radius: 50px;
    border: 1px solid blue;
    margin-right: 10px;
}


.nav button:nth-child(2){
    color:white;
    background-color: blue;
    padding:10px 20px;
    border: none;
    border-radius: 50px;
 
}

.head{
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
}

.desc{
    width: 70%;
}

.head h1{
    font-size: 50px;
    font-weight: 400;
}

.desc button:nth-child(2){
    font-size: 15px;
    color:white ;
    background-color: blue;
    padding:16px 30px;
    margin-left: 15px;
    margin-right: 15px;
    border: none;
    border-radius: 50px;
}

.desc button:nth-child(3){
    color:blue;
    background-color: transparent;
    border: 1px solid blue;
    font-size: 15px;
    padding:16px 30px;
    border-radius: 50px;
}

.desc p{
    color: rgba(0, 0, 0, 0.664);
    margin: 15px;
    line-height: 150%;
}

.img{
    border-radius: 30px;
    width: 90%;
    height:600px;
    margin: 5% 5% 1% 5%;
    overflow: hidden;
}

img{
    width: 100%;
    height:100%;
    /* transform: translateY(-40%); */
    object-fit: cover;
    object-position:50% 75%;
    
}

.page1{
    background-color: rgba(246, 244, 244, 0.936);
    border-radius:12px;
    padding: 40px 0;
    padding-left: 70px;
    padding-right: 70px;
    margin: 0 12px;
}

.resSec{
    padding: 5% 70px; 
    text-align: center;
    display:grid;
    /* grid-gap: 122px; */
    grid-template-columns: 25% 25% 25% 25%;
}

.resSec h1{
    font-size: 70px;
    font-weight: 300;
}

.resSec p{
    color: rgba(0, 0, 0, 0.481);
    width: 80%;
     margin-left: 10%;
    font-size: 20px;
    font-weight: 300;
}

.page2{
    height: 100vh;
    width:100%;
    padding: 4rem 0.6rem;
}

.page2Prev{
    height: 100%;
    width:100%;
    background-color: rgba(246, 244, 244, 0.947);
    padding:4rem;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 3fr 4fr;

    grid-template-areas: "btn page2Img"
                         " page2Desc page2Img"
                         "page2Desc page2Img"
    ;
}

.btn{
    grid-area: btn;
}

.btn button{
    padding: 1rem 2rem;
    border: 1px solid black;
    border-radius: 50px;
}

.page2Desc{
    grid-area: page2Desc;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2.8rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
}

.page2Desc p{
    color: rgba(0, 0, 0, 0.645);
    font-size:1.1rem ;
    line-height: 150%;
}

.page2Desc h2{
    font-size: 2.5rem;
    font-weight: 500;
}

.page2Img{
    width: 100%;
    height:100%;
    grid-area: page2Img;
}

.page2Img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 30%;
    border-radius: 20px;
    transform: scale(0.95);
}

.footer{
    height: 600px;
}

.logo{
    height: 70px;
    width: 70px;
    background-size: cover;
    background-image: url(https://uploads-ssl.webflow.com/5ea7ecd0debb84369437c163/6435e382c69a8d0b2d57d425_navis-capital-partners-no-background.png);
}

.sec1{
    background-color: rgb(25, 32, 33);
    padding: 70px;
    border-radius: 20px;
    margin: 12px;
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 1fr 2fr 3fr;
    grid-template-areas: "logo logo"
                         "subscribe links"
                         "subscribe links"

    ;
}

.logo{
    grid-area: logo;
    border: 1px solid #fff;
    border-radius: 4px;
}

.subscribe{
    color:white;
    grid-area: subscribe;
    margin-top: 2rem;
    display: flex;    
    flex-direction: column;
    gap: 2rem;
}

.subscribe .inp input::placeholder{
   color:#fff;
    font-size: 16px;
}

.subscribe .inp input{
    background-color: rgb(153, 153, 153);
    padding: 1rem 3.5rem 1rem 1.5rem;
    border:none;
    border-radius: 50px;
}

.subscribe .inp button{
    color:white;
    background-color: blue;
    border:none;
    font-size: 15px;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 50px;
}

.subscribe h2{
    font-size: 2rem;
    font-weight: 400;
}

.links{
    grid-area: links;
    display: flex;
    justify-content: space-around;
}

.links div{
    display: grid;
    color: rgba(255, 255, 255, 0.911);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
}

.links div h2{
    font-size: 20px;
    font-weight:500 ;
}

.links div p{
    font-size:15px;
}