* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: para;
}

body,
html {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: face;
    src: url(./Assets/Eden\ Meadow\ DEMO.ttf);
}

@font-face {
    font-family: para;
    src: url(./Assets/Poppins-Regular.ttf);
}

section {
    height: 100vh;
    width: 100%;
    padding: 0 7rem 0 7rem;
}

section.view1 {

    position: relative;
    background-image: url(./Assets/hero1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // overflow: hidden;

    nav {
        display: flex;
        justify-content: space-between;
        padding-top: 1.7rem;

        h2 {
            font-family: face;
            font-size: 1.78rem;
            letter-spacing: 3px;
        }

        div {

            width: 30%;
            display: flex;
            justify-content: space-around;

            p {
                color: rgba(0, 0, 0, 0.688);
                letter-spacing: 1.5px;
                font-size: 0.79rem;
                font-weight: 600;
            }
        }
    }

    .show {
        width: 35%;
        color: white;
        background-color: rgba(0, 0, 0, 0.307);
        box-shadow: 0 0 50px 40px rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 1.5rem;

        h2 {
            font-family: face;
            font-weight: 400;
            font-size: 2.5rem;
        }

        h1 {
            font-family: face;
            font-weight: 400;
            font-size: 7rem;
        }

        p {
            font-size: 0.95rem;
            font-weight: 500;
            margin-bottom: 1.2rem;
        }

        button {
            color: white;
            background-color: transparent;
            padding: 0.9rem 2.5rem;
            font-size: 0.7rem;
            border: 1px solid white;
            border-radius: 50px;
            transition: all 0.2s ease-in-out;
        }

        button:hover {
            color: black;
            background-color: rgba(255, 255, 255, 0.916);

        }
    }
}

section.view2 {
    color: rgb(36, 44, 41);
    background-color: rgb(189, 196, 193);
    .view {
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:100%;

        h1{
            font-size: 3rem;
            font-family: face;
            text-align: center;
            padding: 3rem 0;
            font-weight: 300;
        }
        .cards {

            // width: 100%;
            display: flex;
            justify-content: space-between;

            .card {
                width: 32.5%;
                display: flex;
                flex-direction: column;

                .img {
                    width: 100%;
                    height: 23vw;
                    overflow: hidden;


                    img {
                        width: 100%;
                        object-fit: fill;
                        object-position: center;
                        transform: translateY( -20%);
                    }
                }

                .desc{
                    text-align: center;
                    margin-top: 1.5rem;

                    h2{
                        font-size: 2.5rem;
                        font-family: face;
                        font-weight: 300;
                        margin-bottom: 1.5rem;
                    }

                    button{
                        background-color: transparent;
                        padding: 0.7rem 2.2rem;
                        border-radius: 50px;
                        letter-spacing: 1.6px;
                       
                    }
                }
            }
        }
    }
}