.page1{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;

    h1{
    .centerLogo{

        background-color: aqua;
    
            img{
            width: 60px;
                
                
            }
        }
    }
}