@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes upDown {
    from {
        transform: translate(0, 0) rotate(-7deg);
    }

    to {
        transform: translate(1%, 3%) rotate(-7deg);
    }
}

@keyframes rightLeft {
    from {
        transform: scale(1) rotate(14deg);
    }

    to {
        transform: scale(1.03) rotate(12deg);
    }
}

.page1 {

    width: 100%;
    height: calc(100vh - 100px);
    // background-color: antiquewhite;
    display: flex;
    justify-content: center;
    padding: 5rem;
    position: relative;


    .text {
        width: 65%;

        p {
            color: rgb(98, 98, 98);
            font-size: 1.2rem;
            text-align: center;
            margin-bottom: 0.5rem;
        }

        h1 {
            font-size: 6rem;
            font-weight: 400;
            text-align: center;
            line-height: 1.2;
            position: relative;
            z-index: 99;

            .centerLogo {
                height: 110px;
                width: 110px;
                display: inline-block;
                transform: translateY(20%);

                img {
                    width: 100%;
                    animation: rotation 5s ease-in;

                }
            }

            .magicoText {
                color: rgb(143, 0, 220);
                font-weight: 400;

            }

            .magico {
                width: 330px;
                height: 110px;
                background-color: rgba(248, 242, 135, 0.915);
                position: absolute;
                bottom: -2%;
                left: 8%;
                padding-inline: 1.5rem;
                border-radius: 20px;
                rotate: 4deg;
                z-index: -1;
            }
        }
    }

    .createBtn {
        position: absolute;
        left: 5%;
        top: 78%;
        transform: rotate(-6deg);
        display: flex;
        align-items: center;

        p {
            width: 220px;
            padding: 1rem;
            flex-shrink: 0;
            border: 2px solid rgb(255, 149, 0);
            border-radius: 40px;
            font-size: 1.5rem;
            text-align: center;
        }

        span {
            display: inline-block;
            transform: translate(-14%, 15%);

            img {
                width: 100px;
            }
        }
    }



    .btns {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        position: absolute;
        right: 0;
        top: 10%;

        div {
            width: fit-content;
            color: white;
            background-color: rgb(143, 0, 220);
            padding: 0.5rem;
            padding-inline: 1rem;
            border-radius: 40px;
        }

    }

    .leftImg {
        width: 300px;
        position: absolute;
        top: 0;
        left: 4%;
        transform: rotate(-7deg);
        animation: upDown 1s ease-in-out infinite alternate;

        // animation: name duration timing-function delay iteration-count direction fill-mode;
        img {
            width: 100%;
        }
    }


    .rightImg {
        width: 280px;
        position: absolute;
        right: 4%;
        top: 46%;
        transform: rotate(14deg);
        overflow: hidden;
        animation: rightLeft 1s ease-in-out infinite alternate;

        img {
            border-radius: 50px;
            width: 100%;
        }
    }

    .curveLine {
        width: 600px;
        position: absolute;
        left: 30%;
        top: 70%;
        transform: rotate(5deg);

        img {
            width: 100%;
        }
    }

    .curveLine2 {
        width: 300px;
        position: absolute;
        left: 2%;
        top: 60%;
        transform: rotate(-20deg);

        img {
            width: 100%;
        }
    }
}