* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #0b1d26;
    font-family: figtree;
}

@font-face {
    font-family: century;
    src: url(./assets/CENTURY.TTF);
}

@mixin centerElement() {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height:300vh;
    width: 100%;
    color: white;
    padding: 3rem;
    background-image: url(./assets/HGpng.png);
    background-size: contain;
    background-repeat: no-repeat;


    nav {
        @include centerElement();
        justify-content: space-between;
        font-size: 0.9rem;

        .navL {
            font-family: century;
            font-size: 1rem;

            h2 {
                font-weight: 400;
            }
        }

        .navR {
            @include centerElement();
            gap: 0.4rem;

            i {
                font-size: 1.2rem;
                font-weight: 100;
            }
        }

        .navOps {
            width: 20%;
            @include centerElement();
            justify-content: space-around;
        }
    }

    section.view1 {
        display: grid;
        grid-template-columns: 0.5fr 2fr 0.5fr;
        grid-template-rows: 100vh;
        transform: translate(0, -10%);

        .socials {
            display: flex;
            flex-direction: column;
            justify-content: center;
            grid-column: 1/2;
            gap: 1rem;

            div {
                position: absolute;
                top: 39%;
                left: -22px;
                rotate: 90deg;

                p {
                    font-size: 0.9rem;
                }
            }
        }

        .head {
            display: flex;
            flex-direction: column;
            justify-content: center;
            grid-column: 2/3;
            padding-left: 7rem;

            .mainHeading {

                margin-bottom: 2rem;

                h1 {
                    font-size: 4rem;
                    // margin-top: 2rem;
                    font-weight: 500;
                    font-family: century;
                }
            }

            .topHeading {

                margin-top: -2rem;
                margin-bottom: 1rem;

                .line {
                    display: inline-block;
                    height: 6px;
                    width: 60px;
                    margin-right: 20px;
                    border-top: 2px solid palegoldenrod;

                }

                h4 {
                    color: palegoldenrod;
                    font-size: 0.85rem;
                    display: inline-block;
                    letter-spacing: 6px;
                }
            }

            .btmHeading {
                display: flex;
                gap: 1rem;
            }

        }

        .locate {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;
            grid-column: 3/4;

            div {
                padding: 1rem;
                border-right: 3px solid rgba(255, 255, 255, 0.437);
                // background-color: bisque;
            }

            div:nth-child(1) {
                border-right: 3px solid white;
            }

        }


    }

    section.view2 {
        // background-color: blueviolet;
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        grid-template-rows: 1fr;
        margin-top: 20rem;
        

        .bgDiv {
            display: flex;
            grid-column: 2/3;

            .desDiv {
                position: relative;
                width: 50%;
                padding: 5rem 0;

                .head {
                    display:flex;
                    flex-direction: column;
                    gap: 1rem;
                    position: absolute;
                    top: 33%;
                    padding: 0 1rem 0 5.5rem;
                    // margin:0 0 2rem 0;
                    .top {

                        .line {
                            display: inline-block;
                            height: 6px;
                            width: 60px;
                            margin-right: 20px;
                            border-top: 2px solid palegoldenrod;

                        }

                        h4 {
                            color: palegoldenrod;
                            font-size: 0.85rem;
                            display: inline-block;
                            letter-spacing: 6px;
                        }
                    }

                    .que{
                        
                        h1{
                            font-weight: 400;
                            font-size: 2.7rem;
                            font-family: century;

                        }
                    }

                    .desc{
                        p{
                            font-size:0.84rem;
                            line-height: 1.7;
                        }
                    }
                }
            }

            .desDiv>h1 {
                font-family: fantasy;
                font-size: 170px;
                font-weight: 400;
                opacity: 0.15;
            }

            .imgDiv {
                height: 80vh;
                width: 48%;
                overflow: hidden;
                margin-left: 2rem;
                img{
                    object-fit: contain;
                    transform: translate(0, -10%);
                }
            }
        }
    }

}