* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #0b1d26;
  font-family: figtree;
}

@font-face {
  font-family: century;
  src: url(./assets/CENTURY.TTF);
}
main {
  height: 300vh;
  width: 100%;
  color: white;
  padding: 3rem;
  background-image: url(./assets/HGpng.png);
  background-size: contain;
  background-repeat: no-repeat;
}
main nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
}
main nav .navL {
  font-family: century;
  font-size: 1rem;
}
main nav .navL h2 {
  font-weight: 400;
}
main nav .navR {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
main nav .navR i {
  font-size: 1.2rem;
  font-weight: 100;
}
main nav .navOps {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
main section.view1 {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 100vh;
  transform: translate(0, -10%);
}
main section.view1 .socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 1/2;
  gap: 1rem;
}
main section.view1 .socials div {
  position: absolute;
  top: 39%;
  left: -22px;
  rotate: 90deg;
}
main section.view1 .socials div p {
  font-size: 0.9rem;
}
main section.view1 .head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 2/3;
  padding-left: 7rem;
}
main section.view1 .head .mainHeading {
  margin-bottom: 2rem;
}
main section.view1 .head .mainHeading h1 {
  font-size: 4rem;
  font-weight: 500;
  font-family: century;
}
main section.view1 .head .topHeading {
  margin-top: -2rem;
  margin-bottom: 1rem;
}
main section.view1 .head .topHeading .line {
  display: inline-block;
  height: 6px;
  width: 60px;
  margin-right: 20px;
  border-top: 2px solid palegoldenrod;
}
main section.view1 .head .topHeading h4 {
  color: palegoldenrod;
  font-size: 0.85rem;
  display: inline-block;
  letter-spacing: 6px;
}
main section.view1 .head .btmHeading {
  display: flex;
  gap: 1rem;
}
main section.view1 .locate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  grid-column: 3/4;
}
main section.view1 .locate div {
  padding: 1rem;
  border-right: 3px solid rgba(255, 255, 255, 0.437);
}
main section.view1 .locate div:nth-child(1) {
  border-right: 3px solid white;
}
main section.view2 {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 20rem;
}
main section.view2 .bgDiv {
  display: flex;
  grid-column: 2/3;
}
main section.view2 .bgDiv .desDiv {
  position: relative;
  width: 50%;
  padding: 5rem 0;
}
main section.view2 .bgDiv .desDiv .head {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 33%;
  padding: 0 1rem 0 5.5rem;
}
main section.view2 .bgDiv .desDiv .head .top .line {
  display: inline-block;
  height: 6px;
  width: 60px;
  margin-right: 20px;
  border-top: 2px solid palegoldenrod;
}
main section.view2 .bgDiv .desDiv .head .top h4 {
  color: palegoldenrod;
  font-size: 0.85rem;
  display: inline-block;
  letter-spacing: 6px;
}
main section.view2 .bgDiv .desDiv .head .que h1 {
  font-weight: 400;
  font-size: 2.7rem;
  font-family: century;
}
main section.view2 .bgDiv .desDiv .head .desc p {
  font-size: 0.84rem;
  line-height: 1.7;
}
main section.view2 .bgDiv .desDiv > h1 {
  font-family: fantasy;
  font-size: 170px;
  font-weight: 400;
  opacity: 0.15;
}
main section.view2 .bgDiv .imgDiv {
  height: 80vh;
  width: 48%;
  overflow: hidden;
  margin-left: 2rem;
}
main section.view2 .bgDiv .imgDiv img {
  -o-object-fit: contain;
     object-fit: contain;
  transform: translate(0, -10%);
}/*# sourceMappingURL=style.css.map */