* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font2;
}

html,
body {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: font1;
    src: url(./Assets/4UasrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RPjIUvQ.woff2);
}

@font-face {
    font-family: font2;
    src: url(./Assets/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA.woff2);
}

@mixin flex($direction, $gap) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}

main {

    .bg1 {
        background: linear-gradient(#f3fcff, #fcdee9);
        display: flex;
        justify-content: center;

        section.view1 {

            padding: 3rem 0 3rem 0;


            .highlight {
                // width: 100%;
                margin: 0 1rem 0 1rem;

                .top {
                    @include flex(column, 3rem);


                    .img {
                        width: 100%;

                        img {
                            width: 100%;
                        }
                    }

                    h1 {
                        text-align: center;
                        font-family: font1;
                        font-size: 3rem;
                    }
                }

                h2 {

                    margin: 7rem 0 2.5rem 0;
                    font-size: 2.2rem;
                    font-weight: 400;
                    text-align: center;
                }
            }


        }

    }

    section.view2 {
        padding: 4.4rem 0 4.4rem 0;

        .content {
            margin: 0 1.7rem 0 1.7rem;
            @include flex(column, 3rem);

            div {
                width: 100%;
                padding: 1.6rem 3rem 0 0;
                border-top: 4px solid rgba(164, 164, 164, 0.31);

                h3 {
                    font-size: 1.5rem;
                    margin-bottom: 1.5rem;
                }

                p {
                    color: #4A4A4a;
                    font-size: 1.2rem;
                    margin-bottom: 4.2rem;
                }

                img {
                    width: 105%;
                }
            }
        }

    }

    section.view3 {
        padding: 3rem 0;

        .content {
            margin: 0 1.7rem 0 1.7rem;

            .img {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .text {
                h4 {
                    color: #4A4A4A;
                    font-size: 1.13rem;
                    margin-bottom: 1.26rem;
                }

                h3 {
                    font-size: 2.876rem;
                    margin-bottom: 2rem;
                }

                p {
                    color: #4A4A4A;
                    font-size: 1.1rem;
                    margin-bottom: 1.1rem;
                }

                .btn {
                    @include flex(column, 0rem);
                    align-items: start;

                    button {
                        font-size: 0.88rem;
                        background-color: transparent;
                        font-weight: 600;
                    }

                    button:nth-child(1) {
                        color: #0468d7;
                        padding: 0.6rem 2rem;
                        border: 1px solid #0468d7;
                        border-radius: 50px;
                        margin-bottom: 0.88rem;
                        transition: all 0.2s ease-out;
                    }

                    button:nth-child(1):hover {
                        color: white;
                        background-color: #0468d7;
                        cursor: pointer;
                    }

                    button:nth-child(2) {
                        position: relative;
                        border: none;
                        padding: 0.4rem 1.5rem;
                        margin-bottom: 0.9rem;
                        transition: all 0.5s ease;
                    }

                    button:nth-child(2) i {
                        position: absolute;
                        left: 90%;
                        transition: all 0.5s ease;
                    }

                    button:nth-child(2):hover i {
                        left: 92%;
                    }
                }


            }

        }
    }

    .bg2 {
        background: linear-gradient(#f5fbfe, #fcfce2);
        display: flex;
        justify-content: center;

        section.view4 {
            padding: 3rem 0;

            .content {
                margin: 0 1.7rem 0 1.7rem;

                .img {
                    width: 100%;
                    margin-bottom: 2rem;

                    img {
                        width: 100%;
                    }
                }

                .text {
                    h4 {
                        color: #4A4A4A;
                        font-size: 1.13rem;
                        margin-bottom: 1.26rem;
                    }

                    h3 {
                        font-size: 2.876rem;
                        margin-bottom: 2rem;
                    }

                    p {
                        color: #4A4A4A;
                        font-size: 1.1rem;
                        margin-bottom: 1.1rem;
                    }

                    .btn {
                        @include flex(column, 0rem);
                        align-items: start;

                        button {
                            color: white;
                            background-color: #0468d7;
                            font-size: 0.88rem;
                            font-weight: 600;
                            padding: 0.6rem 2rem;
                            border: 1px solid #0468d7;
                            border-radius: 50px;
                            margin-bottom: 0.88rem;
                            transition: all 0.2s ease-out;

                        }



                        button:hover {
                            color: #0468d7;
                            background-color: transparent;

                            cursor: pointer;
                        }
                    }


                }

            }
        }
    }

    section.view5 {
        padding: 3rem 2rem 3rem 0;

        .content {
            margin: 0 1.7rem 0 1.7rem;

            .img {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .text {
                h4 {
                    color: #4A4A4A;
                    font-size: 1.13rem;
                    margin-bottom: 1.26rem;
                }

                h3 {
                    font-size: 2.876rem;
                    margin-bottom: 2rem;
                }

                p {
                    color: #4A4A4A;
                    font-size: 1.1rem;
                    margin-bottom: 1.1rem;
                }

                .btn {
                    @include flex(column, 0rem);
                    align-items: start;

                    button {
                        color: white;
                        background-color: #0468d7;
                        font-size: 0.88rem;
                        font-weight: 600;
                        padding: 0.6rem 2rem;
                        border: 1px solid #0468d7;
                        border-radius: 50px;
                        margin-bottom: 0.88rem;
                        transition: all 0.2s ease-out;

                    }



                    button:hover {
                        color: #0468d7;
                        background-color: transparent;

                        cursor: pointer;
                    }
                }


            }

        }
    }

    .bg3 {
        background: linear-gradient(#f5fbfe, #fcfce2);
        display: flex;
        justify-content: center;

        section.view6 {
            padding: 3rem 0;

            .content {
                margin: 0 1.7rem 0 1.7rem;

                .img {
                    width: 100%;
                    margin-bottom: 2rem;

                    img {
                        width: 100%;
                    }
                }

                .text {
                    h4 {
                        color: #4A4A4A;
                        font-size: 1.13rem;
                        margin-bottom: 1.26rem;
                    }

                    h3 {
                        font-size: 2.876rem;
                        font-family: font1;
                        margin-bottom: 2rem;
                    }

                    p {
                        color: #4A4A4A;
                        font-size: 1.1rem;
                        margin-bottom: 1.1rem;
                    }

                    .btn {
                        @include flex(column, 0rem);
                        align-items: start;

                        button {
                            color: white;
                            background-color: #0468d7;
                            font-size: 0.88rem;
                            font-weight: 600;
                            padding: 0.6rem 2rem;
                            border: 1px solid #0468d7;
                            border-radius: 50px;
                            margin-bottom: 0.88rem;
                            transition: all 0.2s ease-out;

                        }



                        button:hover {
                            color: #0468d7;
                            background-color: transparent;

                            cursor: pointer;
                        }
                    }


                }

            }
        }
    }

    section.view7 {
        .content {
            padding: 2rem;


            .card {
                width: 100%;
                color: white;
                background-color: #042449;
                border-radius: 50px;
                padding: 6rem 3.2rem;
                position: relative;
                overflow: hidden;

                .text {
                    position: relative;
                    z-index: 2;

                    h3 {
                        font-family: font1;
                        font-size: 2.9rem;
                        margin: 0 0 1.56rem;
                    }

                    p {
                        font-size: 1.18rem;
                        margin-bottom: 2rem;
                    }

                    .btn {
                        @include flex(column, 0rem);
                        align-items: start;

                        button {
                            font-size: 0.9rem;
                        }

                        button:nth-child(1) {
                            color: blue;
                            background-color: white;
                            font-weight: 600;
                            padding: 0.6rem 2rem;
                            margin-bottom: 0.5rem;
                            border-radius: 50px;
                        }

                        button:nth-child(2) {
                            color: white;
                            padding: 0.6rem 2rem;
                            background-color: transparent;
                            border: none;
                            margin-bottom: 0.5rem;
                        }

                    }

                }

                .img {
                    height: 100%;
                    width: 500px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 1;
                    // background-color: rgb(107, 73, 73);   

                    img {
                        position: absolute;
                        top: 0;
                        right: 0;
                        height: 100%;
                        width: 500px;
                        object-fit: cover;

                    }
                }
            }
        }
    }
}

section {
    max-width: 1180px;
}

@media(max-width:605px) {

    main{

        section.view7 {

            // background-color: #0468d7;
            .content{
                .card {
                width: 100%;
                .img {
                    width: 100%;
                    // display: block;
                    // overflow:hidden;
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: fill;
                    }
                }
            }
            }
            
        }
    }
}

// @media (min-width:606px) and (max-width:1024px) {
//     main{
        
//     }
//     }
// }



// For Bigger Screens
@media (min-width:1024px) {
    main {

        @include flex(column, 0rem);
        align-items: center;

        .bg1 {
            width: 100%;

            section.view1 {
                .highlight {
                    .top {
                        @include flex(row-reverse, 0rem);
                        align-items: center;

                        h1 {
                            text-align: start;
                            font-size: 4.3rem;
                        }

                        .img {
                            width: 130%;
                        }
                    }
                }
            }
        }

        section.view2 {
            .content {
                @include flex(row, 1rem);
                margin: 0 3.125rem;
            }
        }

        section.view3 {
            .content {
                @include flex(row-reverse, 1rem);

                .text {
                    padding: 0 9rem 0 4rem;
                    width: 150%;

                    h4 {
                        font-size: 1.23rem;
                    }

                    h3 {
                        font-family: font1;
                        font-size: 3.7rem;
                    }

                    p {
                        font-size: 1.23rem;
                        margin-bottom: 2rem;
                    }

                    .btn {
                        flex-direction: row;
                        align-items: center;
                    }
                }
            }
        }

        .bg2 {
            width: 100%;
            background: linear-gradient(to right, #fcfce2, #f5fbfe);

            section.view4 {
                .content {
                    @include flex(row, 1rem);

                    .img {
                        width: 150%;
                        margin-bottom: 0;

                        img {
                            width: 100%;
                        }
                    }

                    .text {
                        padding: 0 9rem 0 4rem;

                        h4 {
                            font-size: 1.23rem;
                        }

                        h3 {
                            font-family: font1;
                            font-size: 3.7rem;
                        }

                        p {
                            font-size: 1.23rem;
                            margin-bottom: 2rem;
                        }

                        .btn {
                            flex-direction: row;
                            align-items: center;
                        }
                    }
                }
            }
        }

        section.view5 {
            .content {
                @include flex(row-reverse, 1rem);

                .img {

                    margin-bottom: 0;

                    img {
                        width: 100%;
                    }
                }

                .text {
                    width: 150%;
                    padding: 0 9rem 0 4rem;

                    h4 {
                        font-size: 1.23rem;
                    }

                    h3 {
                        font-family: font1;
                        font-size: 3.7rem;
                    }

                    p {
                        font-size: 1.23rem;
                        margin-bottom: 2rem;
                    }

                    .btn {
                        flex-direction: row;
                        align-items: center;
                    }
                }
            }
        }

        .bg3 {
            width: 100%;
            background: linear-gradient(to right, #fcfce2, #f5fbfe);

            section.view6 {
                .content {
                    @include flex(row, 1rem);

                    .img {
                        width: 150%;
                        margin-bottom: 0;

                        img {
                            width: 100%;
                        }
                    }

                    .text {
                        padding: 6rem 0 0 0;

                        h4 {
                            font-size: 1.23rem;
                        }

                        h3 {
                            font-family: font1;
                            font-size: 3.7rem;
                        }

                        p {
                            font-size: 1.23rem;
                            margin-bottom: 2rem;
                        }

                        .btn {
                            flex-direction: row;
                            align-items: center;
                        }
                    }
                }
            }

        }

        section.view7 {
            width: 100%;

            .content {
                width: 100%;

                .card {
                    width: 100%;
                }
            }
        }

    }
}

